# Pisa Study Project

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df_pisa = pd.read_csv("./data/DP_LIVE_03122019214306791.csv")

In [5]:
df_pisa.head()

  LOCATION INDICATOR SUBJECT    MEASURE FREQUENCY  TIME    Value  Flag Codes
0      AUS  PISAMATH     BOY  MEANSCORE         A  2003  527.000         NaN
1      AUS  PISAMATH     BOY  MEANSCORE         A  2006  527.000         NaN
2      AUS  PISAMATH     BOY  MEANSCORE         A  2009  519.000         NaN
3      AUS  PISAMATH     BOY  MEANSCORE         A  2012  510.115         NaN
4      AUS  PISAMATH     BOY  MEANSCORE         A  2015  497.000         NaN