> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Investigation of Kaggle's soccer database
## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy as sqla
import xml.etree.ElementTree as ET
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [57]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
# build sql query to extract match data - ignore data without valid possession data
query = """select match.id as match_id, league.name, season, possession, home_team_goal, away_team_goal, shoton
from Match inner join league on match.league_id = league.id
where league_id = 1729
 """
db = sqla.create_engine('sqlite:///data/database.sqlite')
df = pd.read_sql(query, db)
df.head()

,match_id,name,season,possession,home_team_goal,away_team_goal,shoton
0,1729,England Premier League,2008/2009,<possession><value><comment>56</comment><event...,1,1,<shoton><value><stats><blocked>1</blocked></st...
1,1730,England Premier League,2008/2009,<possession><value><comment>65</comment><event...,1,0,<shoton><value><stats><blocked>1</blocked></st...
2,1731,England Premier League,2008/2009,<possession><value><comment>45</comment><event...,0,1,<shoton><value><stats><blocked>1</blocked></st...
3,1732,England Premier League,2008/2009,<possession><value><comment>50</comment><event...,2,1,<shoton><value><stats><shoton>1</shoton></stat...
4,1733,England Premier League,2008/2009,<possession><value><comment>51</comment><event...,4,2,<shoton><value><stats><blocked>1</blocked></st...

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [154]:
# possession and goal columns both have xml data, perfect for representing the data in data frames
def build_df_from_xml(xmlstring, matchid):
    root = ET.fromstring(xmlstring)
    rows = []
    for node in root: 
        elapsed = node.findtext("elapsed") if node is not None else None
        homepos = node.findtext("homepos") if node is not None else None
        awaypos = node.findtext("awaypos") if node is not None else None
        rows.append({"match_id": matchid, "elapsed": elapsed, "homepos": homepos, 
                     "awaypos": awaypos})
    if rows.count == 0:
        return  None
    else:
        return rows

rows = df.apply(lambda x : build_df_from_xml(x['possession'], x['match_id']), axis=1)
tmp = rows.values.tolist()
flattened_list = [y for x in tmp for y in x]
pd.DataFrame(flattened_list)

       match_id elapsed homepos awaypos
0          1729      25      56      44
1          1729      45      54      46
2          1729      70      54      46
3          1729      90      55      45
4          1730      27      65      35
...         ...     ...     ...     ...
13577      4767      90      33      67
13578      4768      25      50      50
13579      4768      45      53      47
13580      4768      66      56      44
13581      4768      90      57      43

[13582 rows x 4 columns]

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!